<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- link per adding dinamico -->
    <!-- https://stackoverflow.com/questions/25428361/dynamically-add-item-to-jquery-select2-control-that-uses-ajax -->
    <!-- manuale: https://select2.org/placeholders -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <!-- links per la grafica in generale -->
    <!-- from: http://www.codesvila.com/dropdown-select-with-the-live-search-bootstrap/ -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <!-- data picker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- links al mio js -->
    <script type="text/javascript" src="js/foodselector.js"></script>
    <link rel="stylesheet" type="text/css" href="css/foodselector.css"></link>
</head>
<body>



<div class="container shadow" style="padding: 5rem; margin-top: 2rem;">
    <div class="row">
        <div class="col-lg-12">



            <div class="form-group">
                    <label class="label">#1 # Dropdown Select with "data-live-search" </label>
                    <div class="input-group mb-3">
                        <select id="category" name="selected-category" class="js-example-basic-single">
                            <option></option>
                            <option>Mango</option>
                            <option>Orange</option>
                            <option>Lychee</option>
                            <option>Pineapple</option>
                            <option>Apple</option>
                            <option>Banana</option>
                            <option>Grapes</option>
                            <option>Water Melon</option>
                        </select>
                    </div>
                </div>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label class="label">#2 # select with insertion </label>
                    <div class="input-group mb-3">
                        <select id="state" name="selected-food" class="js-example-basic-single" type="text">
                            <option></option>
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label class="label">#3 # add url image of food </label>
                <div class="input-group mb-3">
                    <input type="text" id="text_area" placeholder="inserisci immagine url" name="url_image" value="">
                    <div class="input-group-append">
                        <button id="button_image" class="btn btn-outline-secondary" type="button">Ok</button>
                    </div>
                </div>
                <div class="text-center">
                    <img src="" class="img-fluid" id="food_img" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label>#4 # Datapicker" </label>
                <div class='input-group date' id='datetimepicker1'>
                    <p>Date:  </p>
                    <input type="text" id="datepicker">
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <button type="button" class="btn btn-primary align-bottom">Primary</button>
            </div>
        </div>
    </div>

</div>




</body>
</html>